h1{
    color:darkred;
    text-align: center;
}
div{
    background-color: aqua;
    text-align: justify;
    width: 500px;
    height: 70%;
    padding-bottom: 30px;
    border: 20px dashed;
    padding-left: 20px;
    padding-right: 20px;
}
h3{
    text-align: center;
}
.next{
    margin-top: 30px;
    align-items: center;
    color: Red;
    background-color: black;
    width:500px;
    height:50%;
    text-align: justify;
    padding-left: 50px;
    margin-left: 400px;
}
h4{
    color: yellow;
    font-family: cursive;
}
.img-div{
    width: 500px;
    border: 20px aqua;
}