h1{
    color:darkred;
    text-align: center;
}
div{
    background-color: aqua;
    text-align: justify;
    width: 500px;
    height: 70%;
}
h3{
    text-align: center;
}
.next{
    align-items: center;
    color: Red;
    background-color: black;
    width:500px;
    height:50%;
    text-align: justify;
    padding-left: 50px;
    margin-left: 400px;
}